<section class="kc-elm kc-css-245560 kc_row"><div class="kc-row-container  kc-container"><div class="kc-wrap-columns"><div class="kc-elm kc-css-215631 kc_col-sm-12 kc_column kc_col-sm-12"><div class="kc-col-container"><div class="kc-elm kc-css-95411 kc-raw-code"><div class="how-is-work kc-col-container">
<div class="af-title text-center">
<h2 class="af-heading"><span>Comment fonctionne Nssafro.com?</span></h2>
<p><span>Keep reading to find out how you can start selling on our platform</span></p></div>
<div class="kc-elm kc-css-794310 kc_row kc_row_inner">
<div class="kc-elm kc-css-136052 kc_col-sm-3 kc_column_inner kc_col-sm-3"><div class="kc_wrapper kc-col-inner-container"><div class="text-center">
<span class="round-icon">
<i class="sl-location-pin"></i>
</span>
</div><div class="kc-elm kc-css-354632"></div><div class="kc-elm kc-css-346724 kc_text_block"><h5>Publication</h5>
    <p>Le conducteur publie son offre de covoiturage</p>
</div></div></div><div class="kc-elm kc-css-674722 kc_col-sm-3 kc_column_inner kc_col-sm-3"><div class="kc_wrapper kc-col-inner-container"><div class="text-center">
<span class="round-icon">
<i class="sl-bubbles"></i>
</span>
</div><div class="kc-elm kc-css-714026"></div><div class="kc-elm kc-css-901389 kc_text_block"><h5>&nbsp;Communication</h5>
    <p>Le passager communique avec le conducteur pour demander une place à bord avant de envoyer la Demande</p>
</div></div></div><div class="kc-elm kc-css-433178 kc_col-sm-3 kc_column_inner kc_col-sm-3"><div class="kc_wrapper kc-col-inner-container"><div class="text-center">
<span class="round-icon">
<i class="sl-user-following"></i>
</span>
</div><div class="kc-elm kc-css-827229"></div><div class="kc-elm kc-css-165337 kc_text_block"><h5>&nbsp;Le conducteur accept la demande</h5>
    <p>Le conducteur accepte les demandes des passagers avec un simple click depuis la page profile.</p>
</div></div></div><div class="kc-elm kc-css-13297 kc_col-sm-3 kc_column_inner kc_col-sm-3"><div class="kc_wrapper kc-col-inner-container"><div class="text-center">
<span class="round-icon">
<i class="sl-directions"></i>
</span>
</div><div class="kc-elm kc-css-242730"></div><div class="kc-elm kc-css-466311 kc_text_block"><h5>Trajet en covoiturage</h5>
    <p>Conducteur et passager se rejoignent au lieu de rendez-vous pour faire le trajet ensemble!</p>
</div></div></div></div></div></div></div></div></div></div></section>