<a href="javascript:void(0);" class="small-sidebar-open" data-target=".navigation-wrap"><i class="aficon-align-justify"></i></a>
<a href="{{ site_url }}" class="logo"><img src="{{ site_url }}/logo/{{ app.request.pathInfo == "/" ? "nssafro.png" : "logo.png"}}" alt="Covoiturage maroc" title="Voyage et Covoiturage" width="124" height="47"></a>



