<a href="javascript:;" class="to_top af-button" style="display: none;"><i class="sl-arrow-up"></i></a>
<footer>
    <div class="subscription-footer">
        <div class="container">
            <div class="flex-wrap">
                <div class="flex-left flex-wrap">
                    <i class="sl-envolope"></i>
                    <div class="subscribe-title">
                        <h4>S'inscrire à la Newsletter</h4>
                        <p>et recevez Tous les nouveaux de Nssafro.com</p>
                    </div>
                </div>
                <div class="flex-right">
                    <form class="ajax-form" autocomplete="off">
                        <div class="adifier-form">
                            <input type="text" name="email" placeholder="votre adresse e-mail">
                            <a href="javascript:void(0)" class="submit-ajax-form">S'enregistrer</a>
                        </div>
                        <input type="hidden" name="action" value="subscribe">
                        <input type="hidden" name="life_action" value="">
                        <input type="hidden" value="0e7a8bece8" name="request_nonce">
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="copyrights">
        <div class="container">
            <div class="flex-wrap">
                <div class="flex-left">
                    <span>Crafted with <i class="sl-heart"></i> by Nssafro </span>
                </div>
                <div class="flex-center">
                    <ul class="list-unstyled list-inline social-links">
                        <li>
                            <a href="https://www.facebook.com/nssafro" target="_blank">
                                <i class="sl-social-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/nssafro/" target="_blank">
                                <i class="sl-social-instagram"></i>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>