{# templates/blog/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}My cool blog posts{% endblock %}

{% block body %}

    <div class="active">
        {{ articleContent | raw }}
    </div>


    Commentaires ({{ comments| length }})
    {% for comment in comments %}
        <h2>{{ comment }}</h2>
    {% endfor %}

{% endblock %}
